
/* Normal flow */
/* body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;}
    h1 {
    background-color: #efefef;
    padding: 10px; */
    /* width: 400px; */
    /* } */
    /* p {
    width: 450px;} */

    /* Relative Position */
    /* p{
        position: relative;
        top: 20px;
        left: 50px;
    } */
    /* Absolute Position */
    /* h1 { */
        /* position: absolute;
        top: 0px;
        left: 500px;
        width: 250px;}
        p {
        width: 450px;} */

        /* Fixed Position */

        /* h1 {
            position: fixed;
            top: 0px;
            left: 50px;
            padding: 10px;
            margin: 0px;
            width: 100%;
            background-color: #efefef;}
            p.example {
            margin-top: 100px;} */

            /* Z-index */

            h1 {
                position: fixed;
                top: 0px;
                left: 0px;
                margin: 0px;
                padding: 10px;
                width: 100%;
                background-color: #efefef;
                 z-index: 10;/}
                p {
                position: relative;
                top: 70px;
                left: 70px;}
            

        